body, h1, ul, li, a {
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer {
    padding: 1rem;
}

header {
    font-size: 1.5rem;
    background-color: black;
    grid-area: header;
}

#logo {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigasjon {
    display: none;
}

ul li a{
    text-decoration: none;
    display: flex;
    list-style: none;
    color: white;
}

.tiny {
    font-size: 15px;
    font-weight: 1;
}

.casual-wear {
    top: 20%;
    left: 10%;
    padding: 1rem;
    flex-direction: column;
}

.hide {
    display: none;
}

.siste-side {
    color: black;
    display: grid;
    padding: 1rem 0rem;
    font-weight: 600;
    font-size: 25px;
}

.produkt-tabell{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


main {
    grid-area: main;
}

#mobil-bilde {
    width: 100%;
}


#desktop-bilde {
    display: none;
}

.section1 {
    display: grid;
    background-color: black;
    border-radius: 10px;
    padding: 1rem;
    top: 50%;
    align-items: center;
    color: white;
    left: 42%;
}

.section2 {
    color: white;
    text-align: center;
    font-size: 4rem;
}

.section3 {
    color: white;
    text-align: center;
    font-size: 4rem;
}

.shop-now {
    display: block;
    background-color: grey;
    text-decoration: none;
    color: white;
    padding: 1rem;
    text-align: center;
}

#mobil-bilde2 {
    width: 100%;
}

#desktop-photos {
    display: none;
}

footer {
    grid-area: footer;
}

@media only screen and (min-width: 930px) {
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    .navigasjon {
        display: flex;
        gap: 30px;
    }

    #mobil-bilde {
        display: none;
    }

    #mobil-bilde2 {
        display: none;
    }

    #desktop-bilde {
        display: block;
    }

    .section1 {
        position: absolute;
        top: 35%;
        left: 42%;
        background-color: transparent;

    }

    .section2 {
        color: black;
        padding: 0;
        margin: 0;

    }

    .section3 {
        color: black;
        padding: 0;
        margin: 0;
    }

    #desktop-photos {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    .produkt-tabell {
        display: flex;
        justify-content: space-between;
    }

}